/*@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}*/


h1, p1 {
    text-align: center;
    font-size: 3.5em;
    /*color: #333A5E;*/
    color: rgb(26, 9, 0);
    font-family: Titillium, Courier, Monaco;
    animation-name: fade-in;
    animation-duration: 3s;
}

a {
  display: inline-block; /*inline-block allows the link to be clicked anywhere in the button*/
  text-decoration: none;
  border: none;
  color: #000000;
}

body                {
                    /*forest image b&w: https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80*/
                    background: url("https://images.unsplash.com/photo-1490131784822-b4626a8ec96a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat center center fixed;
                    background-size: cover;
                    height: 100%;
                    overflow: hidden; 

                    /* background-position: 50% 22.5%;*/

                    /* fix the position of background image when it's enlarged or smalled */

                    }

/*general class for the div that contains all the tabs*/
.tabsContainer      {
                    justify-content: center;
                    background-color: black;
                    width: 100%;
                    height: 100%;
                    animation-name: fade-in;
                    animation-duration: 3s;
                    
                    }

/*class for the div that contains the tabs buttons*/
.buttonContainer    {
                    top: 0.1%;
                    display: flex;
                    flex-direction: row;
                    background-color: transparent;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    border-bottom: 1px solid #333A5E;
                    }
/* class for buttons that control the tabs*/
.tabsButtons        {
                    background-color: transparent;
                    width: 150px;
                    height: 25px;
                    margin: 5px;
                    font-family: Titillium, Courier, Monaco;
                    text-align: center;
                    font-size: 12px;
                    border: 0px solid rgb(26, 9, 0);
                    animation-name: fade-in;
                    animation-duration: 3s;
                    cursor: pointer;
                    }

/* class for the div of each tab*/
.tabsPanels         {
                    position: absolute;
                    background-color: transparent;
                    width: 97%;
                    height: 80%;
                    margin: 1% 1% 1% 1%;
                    font-family: Titillium, Courier, Monaco;
                    text-align: center;
                    font-size: 14px;
                    }


/*.buttonContainer button:hover
                    {
                    background-color: #333A5E;
                    color: white;
                    font-size: 15px;
                    }
                    

.buttonContainer button:focus
                    {
                    outline: 0;
                    background-color: #333A5E;
                    border: 1px solid white;
                    color: white;
                    }*/

/* class for the div containing the buttons with the GitHub, CodeWars and FreeCodeCamp links*/
.GitCodeFreeContainer          {
                    position: absolute;
                    background: rgb(239,238,241);
                    background: linear-gradient(90deg, rgba(239,238,241,1) 0%, rgba(227,217,211,1) 41%, rgba(238,238,238,1) 100%);                    
                    opacity: 0.8;
                    left: 20%;
                    right: 20%;
                    font-family: Titillium, Courier, Monaco;
                    text-align: center;
                    font-size: 14px;
                    border: 1px solid rgb(26, 9, 0);
                    margin-top: 10%;
                    }

/* class for the buttons that contain the GitHub, CodeWars and FreeCodeCamp links */
.GitCodeFreeButtons      {
                    background-color: rgb(26, 9, 0); 
                    width: 120px; 
                    height: 20px; 
                    font-size: 0.5e; 
                    color: white; 
                    text-align: center;
                    font-family: Titillium, Courier, Monaco;
                    text-decoration: none;
                    border-color: transparent;
                    align-items: center;
                    }

/* class for the whiteboard idea to be used in the about me section*/
.whiteboard         {
                    background-color: white;
                    font-family: Titillium, Courier, Monaco;
                    font-size: 14px;
                    border: 1px solid rgb(26, 9, 0);
                    margin-top: 15%;
                    margin-right: 0.1%;
                    text-align: left;
                    padding-left: 2%;
                    padding-top: 1%;
                    padding-bottom: 1.5%;
                    width: 30%;

}

/* class for the div that contains the dark mode lightswitch */
.lightswitchDiv        {
                    position: absolute;
                    border: 1px solid transparent;
                    display: flex;
                    left: 2%;
                    right: 94%;
                    justify-content: space-evenly;
                    }

/* moon: "https://img.icons8.com/ios/50/000000/moon-man.png"
   sun: "https://img.icons8.com/doodle/48/000000/sun--v1.png"*/

/* class for the lightswitch button that control the dark mode */
.lightswitchButton {
                    background-image: url("https://cdn2.iconfinder.com/data/icons/weather-color-2/500/weather-10-512.png");
                    background-size: cover;
                    background-color: transparent;
                    border-radius: 50%;
                    border: none;
                    color: white;
                    padding: 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    align-items: center;
                    outline: none;
                    }

/* class for the div that contains the carousel in the About Me section*/
.carousel           {
                    position: relative;
                    top: 120px;
                    height: 300px;
                    width: 600px;
                    padding: 0 auto;
                    margin: 0 auto;
                    display: grid;
                    }

/* class for each Carousel image*/
.carouselImages           {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }

/* class for the div that contains the track that contain the images for the carousel*/
.carouselTrackContainer {
                    position: relative;
                    background-color: transparent;
                    height: 100%;
                    overflow: hidden;}

/* class for the track that contains the slides of the carousel. Slide = each image*/
.carouselTrack {
                    position: relative;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    transition: transform 1.5s linear;
}

/* class for the div that contains each image*/
.carouselSlide {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
}

/* class for the buttons used to move the carousel */
.carouselButtons {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
}

.carouselButtons button:active {
                    outline: none;
                    border: none;
}